<p>
    <mat-toolbar color="warn">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>
        Kapila Enterprises
      </span>
      <span class="example-spacer"></span>
      <a [routerLink]="['/product']" mat-button>Products</a>
      <a [routerLink]="['/client']" mat-button>Client</a>
      <a [routerLink]="['/invoice']" mat-button>Invoice</a>
      <a [routerLink]="['/qc']" mat-button>QC</a>
    </mat-toolbar>
  </p>