<div class="row">
    <!-- <p class="exo2-regular text-left">
        Get in touch and we’ll get back to you as soon as we can.
        We look forward to hearing from you!
    </p> -->
    <div class="col-12 text-center">
        <img src="assets/img/contact-us.png" alt="" width="60%">
    </div>
    <div class="col-12">
        <div class="d-flex flex-row justify-content-between">
            
            <div class="d-flex flex-column mt-4">
                <span class="key"><i class="fa fa-mobile" aria-hidden="true"></i> Mobile </span>
                <ul>
                    <li class="value">+91 95665 55504</li>
                    <li class="value">+91 90039 96050</li>
                </ul>
            </div>
            <div class="d-flex flex-column mt-4">
                <span class="key"><i class="fa fa-envelope" aria-hidden="true"></i> Email </span>
                <ul>
                    <li class="value">kapilaenterprises4@gmail.com</li>
                    <li class="value">kapilaenterprises@outlook.com</li>
                </ul>
            </div>

            <div class="d-flex flex-column mt-4">
                <span class="key"><i class="fa fa-address-card" aria-hidden="true"></i> Address</span>
                <ul style="list-style-type: none;">
                    <li class="value">5/144, Avinashi ByPass,</li>
                    <li class="value">Near by Tirupur Junction,</li>
                    <li class="value">Tirupur - 641654</li>
                </ul>
            </div>
        </div>
    </div>

</div>