<h2 class="muli-bold mb-3 ke-title">About Us</h2>
<p>
    Our organization has emerged as an affluent Trader and supplier of an assorted range of Roofing Accessories. In
    order to meet the diversified requirements of the clients, we are offering Industrial Air wind Turbo Ventilator,
    Aluminium foil, Polycarbonate sheets,Self drilling screws,sealant. These products are designed and developed by our
    highly qualified industry experts under complete observance of the international quality standards, which has
    accredited us with an ISO 9000 certification.
</p>
<p>
    We are progressing towards newer heights of growth and success in the industry by providing clients highly durable
    and precision engineered products.Backed by viable distribution network and efficient modes of transportation, we
    ensure timely deliveries of products at the client's end. Owing to honest business practices and crystal clear
    dealings, we are expanding our clientele in various parts of Tamilnadu.
</p>