/* You can add global styles to this file, and also import other style files */
.exo2-light{
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
}
.exo2-regular{
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
}
.exo2-medium{
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
}
.exo2-semi-bold{
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
}
.exo2-bold{
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
}

.muli-regular{
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}
.muli-medium{
    font-family: 'Muli', sans-serif;
    font-weight: 500;
}
.muli-semi-bold{
    font-family: 'Muli', sans-serif;
    font-weight: 600;
}
.muli-bold{
    font-family: 'Muli', sans-serif;
    font-weight: 700;
}

.krona-regular{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}