/* You can add global styles to this file, and also import other style files */
.exo2-light{
    font-family: 'Exo 2', sans-serif !important;
    font-weight: 300 !important;
}
.exo2-regular{
    font-family: 'Exo 2', sans-serif !important;
    font-weight: 400 !important;
}
.exo2-medium{
    font-family: 'Exo 2', sans-serif !important;
    font-weight: 500 !important;
}
.exo2-semi-bold{
    font-family: 'Exo 2', sans-serif !important;
    font-weight: 600 !important;
}
.exo2-bold{
    font-family: 'Exo 2', sans-serif !important;
    font-weight: 700 !important;
}

.muli-regular{
    font-family: 'Muli', sans-serif !important;
    font-weight: 400 !important;
}
.muli-medium{
    font-family: 'Muli', sans-serif !important;
    font-weight: 500 !important;
}
.muli-semi-bold{
    font-family: 'Muli', sans-serif !important;
    font-weight: 600 !important;
}
.muli-bold{
    font-family: 'Muli', sans-serif !important;
    font-weight: 700 !important;
}

.krona-regular{
    font-family: 'Krona One', sans-serif !important;
    font-weight: 400 !important;
}