
<h2 class="muli-bold mb-3 ke-title">Gallery</h2>
<div class="row">
    <div class="col-4 grid">
        <img src="assets/img/gallery/IMG-1.jpg" alt="">
    </div>
    <div class="col-4 grid">
        <img src="assets/img/gallery/IMG-2.jpg" alt="">
    </div>
    <div class="col-4 grid">
        <img src="assets/img/gallery/IMG-3.jpg" alt="">
    </div>
    <div class="col-4 grid">
        <img src="assets/img/gallery/IMG-4.jpg" alt="">
    </div>
    <div class="col-4 grid">
        <img src="assets/img/gallery/IMG-5.jpg" alt="">
    </div>
    <div class="col-4 grid">
        <img src="assets/img/gallery/IMG-6.jpg" alt="">
    </div>
</div>