<app-header></app-header>
<div class="container-fluid">
    <div class="container">
        <h2 class="list-title">
            Qc List
            <button mat-raised-button color="accent" (click)="openDialog()">Add Qc</button>
        </h2>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 list-table">
                <ng-container matColumnDef="qc_no">
                    <th mat-header-cell *matHeaderCellDef> Qc No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.qc_no}} </td>
                </ng-container>
                <ng-container matColumnDef="qc_date">
                    <th mat-header-cell *matHeaderCellDef> Date. </th>
                    <td mat-cell *matCellDef="let element"> {{element.qc_date | date : 'dd/MM/yyyy h:mm a'}} </td>
                </ng-container>
                <ng-container matColumnDef="client_name">
                    <th mat-header-cell *matHeaderCellDef> Client Name. </th>
                    <td mat-cell *matCellDef="let element"> {{element.client_name}} </td>
                </ng-container>
                <ng-container matColumnDef="grand_total">
                    <th mat-header-cell *matHeaderCellDef> Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.grand_total | number : '1.2-2'}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element; let i=index">
                        <a [routerLink]="'/qc-print/'+element.id">
                            <button mat-icon-button color="primary">
                                <mat-icon color="primary">print</mat-icon>
                            </button>
                        </a>
                        <button mat-icon-button color="primary" (click)="updateQc(element.id,i)">
                            <mat-icon color="primary">edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>