<h2 class="muli-bold mb-3 ke-title">Products</h2>

<div class="d-flex flex-column">

    <div *ngFor="let p of products" class="products">
        <div class="col-lg-4 col-md-5 col-sm-12 product-image">
            <img [src]="'assets/img/products/'+p.image" alt="">
        </div>
        <div class="col-lg-8 col-md-7 col-sm-12 product-description">
            <h3 class="prod-title">{{p.name}}</h3>
            <p>
                {{p.description}}
            </p>
        </div>
    </div>

</div>